{% extends "pages/base.twig" %}

{% block pageContent %}
    <div class="row">
        <div class="col-md-8">
            <h3>Data:</h3>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <a href="{{ route.newItem(page.getId())|raw }}" class="btn btn-primary">Add New</a>
            </div>
        </div>
    </div>
    <div ng-controller="SummaryTableController" >
    <div cg-busy="loadingPromise" >
    {% verbatim %}
    	<table class="table">
    		<thead>
    		<tr>
    			<th ng-repeat="col in columns">
    				{{ col.name }}
    			</th>
    		</tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="row in rows">
    				<td ng-repeat="col in columns">
                        <div ng-switch on="col.renderType">
                            <div ng-switch-when="string">
                                {{ row[col.key] }}
                            </div>
                            <div ng-switch-when="primaryLink">
                                <a ng-href="{{ itemLink(row, col) }}">{{ row[col.key] }}</a>
                            </div>
                        </div>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    	<pagination total-items="rowCount" ng-model="currentPage" items-per-page=10  ng-change="pageChanged()"></pagination>
    {% endverbatim %}
    </div>
    </div>
    <script type="text/javascript">
        window.pageId = "{{ page.getId() }}";
    </script>
{% endblock %}