{% extends "core.twig" %}

{% block core_body %}
<div class="login-box">
  <div class="login-logo">
    {{ title }}
  </div>
  <div class="login-box-body">
    {% if error %}
    <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    <p class="login-box-msg">{{ welcomeMessage }}</p>

    <form action="" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{ username }}">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" name="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-8">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
      </div>
    </form>
  </div>
</div>
    <script type="text/javascript">
      window.ckValues = {{ valueBag|raw }};
    </script>
{% endblock %}
