{% extends "core.twig" %}
{% block core_body %}
<div class="wrapper">

    <header class="main-header">
        <a href="{{ defaultUrl }}" class="logo">{{ title }}</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">PAGES</li>
                {% for item in pageMap %}
                    <li role="presentation" {% if item.id == currentId %}class="active"{% endif %}><a href="{{ route.openPage(item.id)|raw }}"><i class="fa fa-book"></i> {{ item.name }}</a></li>
                {% endfor %}
                {% if userParams != null %}
                <li class="header">EXTRA</li>
                    <li role="presentation"><a href="{{ userParams.logout_link|raw }}"><i class="fa fa-sign-out"></i>Log out {{ userParams.username }}</a></li>
                {% endif %}
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        {% block mainContent %}{% endblock %}
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
        <b>Version</b> 0.3
      </div>
      <strong>Powered by <a href="http://crudkit.com">CrudKit</a>.</strong>
  </footer>
</div>
{% endblock %}