{% extends "pages/base.twig" %}

{% block pageName %}
{{ page.getName ()}}
{% endblock %}

{% block actionButtons %}
{% if writable %}
<a href="{{ route.newItem(page.getId())|raw }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add New</a>
{% endif %}
{% endblock %}

{% block pageContent %}
    {% verbatim %}
    <div ng-controller="SummaryTableController" >
    <div class="row">
        <div class="col-md-9">
            <div class="input-group col-md-5">
            <input type="text" class="form-control" placeholder="" ng-model="searchTerm" ng-keyup="$event.keyCode == 13 ? filterColumns () : null"/>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="filterColumns()" ng-disabled="searchTerm == ''">Search</button>
            </span>
            </div>
            <div ng-hide="advancedSearchHidden">
                <h4>Advanced Search <small><a href ng-click="resetAdvSearch()">(reset)</a></small></h4>
                <div class="row" ng-repeat="item in advFilterItems" style="margin-top: 8px;">
                    <div class="col-md-4">
                        <select class="form-control" ng-model="item.id"  ng-options="sel.id as sel.label for sel in advFilterOptions" ng-change="filterColumnSelected(item)"></select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="item.cmp"  ng-options="sel.label for sel in item.availableCmp"></select>
                    </div>
                    <div class="col-md-4">
                        <div ng-switch on="item.cmp.inputType" style="">
                            <div ng-switch-when="string">
                                <input type="text" class="form-control" ng-model="item.value" />
                            </div>
                            <div ng-switch-when="number">
                                <input type="number" class="form-control" ng-model="item.value" />
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top:10px; margin-bottom: 10px">
                <a class="btn btn-primary" ng-click="addConditionButtonClicked ()">Add Condition</a>
                <span style="margin-left: 10px; margin-right: 10px;">or</span>
                <a class="btn btn-success" ng-click="filterColumns ()" ng-disabled="isAdvancedSearchBtnDisabled()">Start Search</a>
                </div>
            </div>
        </div><!-- /input-group -->
        <div class="col-md-3">
            <div class="pull-right">
                <p><a  class="btn btn-sm btn-success" ng-click="startAdvancedSearch ()">Advanced Search</a></p>
            </div>
        </div>
    </div>
    <div class="row" ng-show="selectedCount > 0 && isWritable ()">
        <div class="col-md-12">
            With {{ selectedCount }} Rows: <confirm-button label="Delete" activate="deleteRows ()" ck-class="btn-danger"/>
        </div>
    </div>
    <div cg-busy="loadingPromise" >
    	<table class="table">
    		<thead>
    		<tr>
                <th style="width: 30px">
                    <input type='checkbox' ng-change="selectAll ()" ng-model="allSelectedFlag" class="table-checkbox" />
                </th>
    			<th ng-repeat="col in columns">
    				{{ col.name }}
    			</th>
    		</tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="row in rows" ng-class="{'info': row.selectedFlag}">
                    <td>
                        <input ng-model="row.selectedFlag" type="checkbox" class="table-checkbox" ng-change="updateSelectedCount ()"/>
                    </td>
    				<td ng-repeat="col in columns">
                        <div ng-switch on="col.renderType">
                            <div ng-switch-when="string">
                                {{ row[col.key] }}
                            </div>
                            <div ng-switch-when="number">
                                {{ row[col.key] }}
                            </div>
                            <div ng-switch-when="datetime">
                                {{ row[col.key] }}
                            </div>
                            <div ng-switch-when="primaryLink">
                                <a ng-href="{{ itemLink(row, col) }}">{{ row[col.key] }}</a>
                            </div>
                        </div>
    				</td>
    			</tr>
    		</tbody>
    	</table>
        <pagination total-items="rowCount" ng-model="currentPage" items-per-page=10 max-size=10 rotate="false" boundary-links="false" ng-change="pageChanged()"></pagination>

    {% endverbatim %}
    </div>
    </div>
    <script type="text/javascript">
        window.pageId = "{{ page.getId() }}";
    </script>
{% endblock %}
